[Desktop Entry]
Name=runATEUpdater
Comment=Runs /home/pi/misfit/Production/src/updater.py
Icon=/usr/share/pixmaps/python.xpm
Exec=lxterminal -e "/home/pi/misfit/Production/src/scripts/runUpdater.sh"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
