[Desktop Entry]
Name=uploadLogFiles
Comment=Runs /home/pi/misfit/Production/src/processLogFiles.py
Icon=/usr/share/pixmaps/python.xpm
Exec=lxterminal -e "/home/pi/misfit/Production/src/scripts/postLogFiles.sh"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
